In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [10]:
data=pd.read_csv('Advertising.csv')
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [11]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [12]:
# Define the input features X and the target variable y
X = data[['TV', 'Radio', 'Newspaper']]
y = data['Sales']

# Standardize the input features
X = (X - X.mean()) / X.std()

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=100)

In [14]:
class GradientDescentLinearRegression:
    def __init__(self, learning_rate=0.01, iterations=1000):
        
        self.lr=learning_rate
        self.epochs=iterations
        
    def fit(self,X,y):
        self.intercept=0
        self.coef=np.ones(X.shape[1])
        self.m=X.shape[0]
        
        for i in range(self.epochs):
            y_hat=np.dot(X,self.coef)+ self.intercept
            
            intercept_slope= (1/self.m) * np.sum(y_hat-y)
            coef_slope= (1/self.m) * np.dot((y_hat-y),X)
            
            self.intercept= self.intercept - (self.lr * intercept_slope)
            self.coef=self.coef - (self.lr * coef_slope)
            
        print('intercept: ',self.intercept,' coefficients: ',self.coef)

    def predict(self,X):
        return np.dot(X,self.coef)+ self.intercept
    
    def R2(self,y,y_pred):
        error1=y-y_pred
        rss=sum(error1*error1)
        
        error2=y-y.mean()
        tss=sum(error2*error2)
        
        r2=1-(rss/tss)
        print('R2 Score: ', r2)

In [15]:
model=GradientDescentLinearRegression()

In [16]:
model.fit(X_train,y_train)

intercept:  13.886043484504375  coefficients:  [3.89917084 2.81208551 0.10540172]

In [17]:
y_pred=model.predict(X_test)
y_pred

array([10.62076197, 19.99413942, 16.91437469, 19.17147372, 20.94053131,
       13.12457547, 11.80804945, 12.31941946, 20.5716779 , 20.94652704,
       10.78689465, 19.55365974,  6.42945198, 15.22532221,  8.97434355,
        7.89920392, 16.22442464, 12.03126809, 17.08523146, 11.26368089,
       16.96967849,  9.76165934, 20.81874647, 17.20584915, 15.13517074,
       21.95530544, 19.19957602, 10.0757902 , 19.37433909, 14.85792172,
       14.36106439,  7.5532602 ,  9.97577221, 14.76227071,  7.21068292,
       13.59317008,  7.49745873, 11.70852527, 13.46164563, 15.23116183,
       17.18511437, 13.5618064 , 14.3126682 , 13.73254354, 11.88124218,
        8.77544014, 12.1309813 , 19.19700093,  9.08805467,  5.15619638,
       16.22718512, 18.13539965, 12.94874752, 16.85424109, 17.85540113,
       12.33667992,  4.36436588, 11.24823142, 16.10984204, 13.56522939])

In [19]:
# R2
model.R2(y_test,y_pred)

R2 Score:  0.9056737232402822